html {
  height: 100vh;
}

body {
  background-color: #FFFBFC;
  color: #FFFBFC;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-bottom: 48px;;
}

header {
  background-color: #333333;
  padding: 48px;
  text-align: center;
}

div,
section {
  background-color: #333333;
  border-radius: 10px;
  margin: 24px;
  padding: 24px;
}